src/main/resources/wsdl/soap-proxy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.lama.ru/test/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="soap-proxy" targetNamespace="http://www.lama.ru/test/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.lama.ru/test/" elementFormDefault="qualified">
            <xsd:element name="packet" type="tns:packetType"/>
            <xsd:element name="response" type="xsd:string"/>

            <xsd:complexType name="packetType">
                <xsd:sequence>
                    <xsd:element name="content" type="xsd:anyType"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="sendToJMSRequest">
        <wsdl:part element="tns:packet" name="packet"/>
    </wsdl:message>
    <wsdl:message name="sendToJMSResponse">
        <wsdl:part element="tns:response" name="response"/>
    </wsdl:message>
    <wsdl:portType name="soap-proxy">
        <wsdl:operation name="sendToJMS">
            <wsdl:input message="tns:sendToJMSRequest"/>
            <wsdl:output message="tns:sendToJMSResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="soap-proxySOAP" type="tns:soap-proxy">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendToJMS">
            <soap:operation soapAction="http://www.lama.ru/test/sendToJMS"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="soap-proxy">
        <wsdl:port binding="tns:soap-proxySOAP" name="soap-proxySOAP">
            <soap:address location="http://dev.esbHost.ru/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
